name: Tests

on:
  # run it on push to the default repository branch
  push:
  pull_request:

jobs:

  tests-build-deploy:
    name: Build & deploy tests
    permissions: {}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.2.2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 #v3.8.0

    - name: Install kubectl
      uses: azure/setup-kubectl@3e0aec4d80787158d308d7b364cb1b702e7feb7f #v4.0.0
      with:
        version: 'latest'

    - name: Set up KinD
      uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 #v1.12.0
      with:
        version: v0.23.0
        cluster_name: syngit-dev-cluster

    - name: Set up Go
      uses: actions/setup-go@v5.2.0
      with:
        go-version: '1.22'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make

    - name: Run tests
      run: make test-build-deploy

  tests-behavior:
    name: Behavior tests
    permissions: {}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.2.2

    - name: Install kubectl
      uses: azure/setup-kubectl@3e0aec4d80787158d308d7b364cb1b702e7feb7f #v4.0.0
      with:
        version: 'latest'

    - name: Set up KinD
      uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 #v1.12.0
      with:
        version: v0.23.0
        cluster_name: syngit-dev-cluster

    - name: Set up Go
      uses: actions/setup-go@v5.2.0
      with:
        go-version: '1.22'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make

    - name: Install kubernetes binaries
      run: |
        make envtest
        ./bin/setup-envtest-latest use --bin-dir ./bin

    - name: Run tests
      run: make test-behavior

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@1e68e06f1dbfde0e4cefc87efeba9e4643565303 #v5.1.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  test-helm-install:
    name: Helm install test
    permissions: {}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.2.2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 #v3.8.0

    - name: Install kubectl
      uses: azure/setup-kubectl@3e0aec4d80787158d308d7b364cb1b702e7feb7f #v4.0.0
      with:
        version: 'latest'

    - name: Set up KinD
      uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 #v1.12.0
      with:
        version: v0.23.0
        cluster_name: syngit-dev-cluster

    - name: Set up Go
      uses: actions/setup-go@v5.2.0
      with:
        go-version: '1.22'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make

    - uses: nick-fields/retry@14672906e672a08bd6eeb15720e9ed3ce869cdd4  #v2
      name: Run tests
      with:
        timeout_minutes: 5
        max_attempts: 3
        command: make test-chart-install

  test-helm-upgrade:
    name: Helm upgrade test
    permissions: {}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.2.2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 #v3.8.0

    - name: Install kubectl
      uses: azure/setup-kubectl@3e0aec4d80787158d308d7b364cb1b702e7feb7f #v4.0.0
      with:
        version: 'latest'

    - name: Set up KinD
      uses: helm/kind-action@fa81e57adff234b2908110485695db0f181f3c67 #v1.7.0
      with:
        version: v0.23.0
        cluster_name: syngit-dev-cluster

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make
      
    - uses: nick-fields/retry@14672906e672a08bd6eeb15720e9ed3ce869cdd4  #v2
      name: Run tests
      with:
        timeout_minutes: 10
        max_attempts: 3
        command: make test-chart-upgrade